OPENCLAW_IMAGE=openclaw-power:20260412-v1.0
OPENCLAW_DOCKERFILE=./deploy/Dockerfile
OPENCLAW_BUILD_CONTEXT=.
OPENCLAW_NODE_IMAGE=node:24-bookworm-slim
OPENCLAW_PLATFORM=linux/amd64

# Optional build args
# OPENCLAW_EXTENSIONS=
# OPENCLAW_INSTALL_DOCKER_CLI=
# OPENCLAW_INSTALL_BROWSER=
# OPENCLAW_DOCKER_APT_PACKAGES=
