OPENCLAW_IMAGE=openclaw-power:20260412-v1.1
OPENCLAW_DOCKERFILE=./deploy/Dockerfile
OPENCLAW_BUILD_CONTEXT=.
OPENCLAW_NODE_IMAGE=docker.m.daocloud.io/library/node:24-bookworm-slim
OPENCLAW_PLATFORM=linux/amd64
OPENCLAW_BUILD_MODE=full
OPENCLAW_BUILD_TMP_ROOT=./.tmp
OPENCLAW_APT_MIRROR=http://mirrors.aliyun.com
OPENCLAW_PYPI_INDEX_URL=https://mirrors.aliyun.com/pypi/simple
OPENCLAW_NPM_REGISTRY=https://registry.npmmirror.com

# Optional build args
# OPENCLAW_BUILD_MODE=frontend-only
# OPENCLAW_EXTENSIONS=
# OPENCLAW_INSTALL_DOCKER_CLI=
# OPENCLAW_INSTALL_BROWSER=
# OPENCLAW_DOCKER_APT_PACKAGES=
